footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "section1 section2 section3";
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}
.section3 {
  grid-area: section3;
}
