body {
  margin: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  background-color: #fff;
  color: rgb(140, 210, 223);
  font-size: 0.75rem;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  height: 120px;
}
li {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
}
